{% extends "base.html" %}

{% block title %}Sing up{% endblock %}

{% block footer %}

<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/app.js"></script>

<script>


    $(document).ready(function () {

        /**
         * Validate the form
         */
        $('#formSignup').validate({
            rules: {
                name: 'required',
                email: {
                    required: true,
                    email: true,
                    remote: "/account/validate-email"
                },
                password: {
                    required: true,
                    minlength: 6,
                    validPassword: true
                }
            },
            messages: {
                email: {
                    remote: "email already taken"
                }
            }
        });

        $('#inputPassword').hideShowPassword({
            show: false,
            innerToggle: 'focus'
        });
    });
</script>
{% endblock %}

{% block body %}

<h1>Sing up</h1>

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action="/signup/create" id="formSignup">
    <div class="form-group">
        <label for="inputName">Name</label>
        <input class="form-control" type="text" id="inputName" name="name" value="{{ user.name }}" placeholder="name" autofocus>
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input class="form-control" type="email" id="inputEmail" name="email" value="{{ user.email }}" placeholder="email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input class="form-control" type="password" id="inputPassword" name="password" placeholder="password">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Sign up</button>
</form>

{% endblock %}
